body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-image: url(https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg);
    background-size: cover;
    
}


/*--CONTAINER--*/
.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.315), transparent);
    

}
/*--LOGO--*/
.flex-item1{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    flex-grow: 2;
    padding: 0 20px;
    user-select: none;
    
}



/*--NAV--*/
.flex-item2{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex-grow: 1;
    font-weight: 400;
    user-select: none;
}

.list-item{
    list-style: none;
    padding: 5px 30px;
    margin: 0 5px;
    
}

.link{
    text-decoration: none;
    color: rgb(24, 24, 24);
    transition: color .5s;
}

.link:hover{
    color: rgb(73, 100, 221);
}


/*--LOG IN--*/

.flex-item3{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    flex-grow: 0;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 30px;
    transition: background-color .5s;
    cursor: pointer;
    user-select: none;
}

.link-log{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.flex-item3:hover{
    background-color: rgba(0, 0, 0, 0.274);
    
}


/*--MAIN-TITLE--*/



.main-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    max-height: 900px;
    user-select: none;
}

.title{
    font-size: 100px;
    color: rgba(20, 20, 20, 0.938);
    margin: 0;
    
}


.sub{
    font-size: 30px;
    max-width: 50%;
    text-align: center;
    text-wrap: balance;
}